---
layout: default
title: Computing notes of Lotus Group in Aerospace Industry
---

<p class="meta">
  {{ page.date | date: "%B %d, %Y" }} 
  <a href="/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<h1 class="title">{{ page.title }}</h1>

<div id="post">
Overview:

The Objective of the AeroLibrary is to present aerospace research softwares used in publications o research papers. Research relies heavily (91%) on scientific software, and a large (84%) and growing fraction of researchers are engaged in developing software as part of their own research (Hannay, Macleod, and Singer 2009). Despite this, infrastructure to support the preservation, discovery, reuse, and attribution of software lags substantially behind that of other research products such as journal articles and research data. This lag is driven not so much by a lack of technology as it is by a lack of unity: existing mechanisms to archive, document, index, share, discover, and cite software contributions are heterogeneous among both disciplines
and archives and rarely consistent with best practices (Howison and Bullard 2015).
</div>
{% include facebook-init.html %}
{% if page.fbcomments %}
  <hr/>
  <h4> Comments</h4>
<div class="fb-comments" data-href="http://www.lotustech.io/{{page.url}}" data-numposts="4"></div>
{% endif %}