<!-- footer template -->
<footer>


<ul>
    <li>
      <button aria-expanded="false" aria-controls="amendment-1">
          <p class="center-text"> Created by Hoofar Pourzand</p>

      </button>
      <ul id="amendment-1" class="usa-accordion-content usa-sidenav-sub_list">
        <li>
          <a href="/what-we-deliver/">what we deliver</a>
        </li>
        <li>
          <a href="/hire/">hire Lotus</a>
        </li>
        <li>
          <a href="/join/">Join Lotus</a>
        </li>
        <li>
          <a href="/notebooks/">notebooks</a>
        </li>
      </ul>
    </li>
    <li>

</ul>


</footer>
