---
layout: default
title: Computing notes of Lotus Group
---

<p class="meta">
  {{ page.date | date: "%B %d, %Y" }} 
  <a href="/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<h1 class="title">{{ page.title }}</h1>

<div id="post">
  {{ content }}
</div>
{% include simplesharingbttn.html %}
{% if page.sharing %}
  <div class="header">
    <img src="img/inverted/Twitter.png" alt="logo" />
    <h1>My website name</h1>
  </div>
{% endif %}
 
{% include facebook-init.html %}
{% if page.fbcomments %}
  <hr/>
  <h4> Comments</h4>
<div class="fb-comments" data-href="http://www.lotustech.io/{{page.url}}" data-numposts="4"></div>
{% endif %}